
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	width:  window-width;

	font-family: -apple-system, 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

.top {
	margin: 0;
	height: 93vh;
	width: 100%;
	background-color: #fff;
	text-align: center;
}
.top p {
	padding-top: 10vh;
	color: #333;
	-webkit-font-smoothing: antialiased;
}

.top img {
	width: 90%;
}

.top_img {
	animation-delay: 0.5s
}
.top_text {
	animation-delay: 1.0s
}

.topCopy {
	margin-top: 40vh;

}



#vancoffee {

}
header {
	text-align: center;
	background-color: rgba(255, 255, 255, 0.5);
	/*border-bottom: 1px #aaa solid;*/

}
header p {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 120%;
}

#global-nav {
	width: 100%;
	border-bottom: 1px #ddd solid;
	padding-top: 10px;
	padding-bottom: 10px;

}

.fixed {
	position: fixed;
	top: 0;
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.8);


}
footer {
	width: 100%;
	position: fixed;
	color: #fff;
	height: 60px;
	display: flex;
	clear: both;
	background-color: rgba(0, 0, 0, 0.8);;
	bottom: 0;
}
footer button {
	position: absolute;
	right: 70px;
	top: 15px;
}

footer p {
	position: relative;
	margin-left: 6%;
	padding-top: 1.5%;

}
footer h1 {
	display: none;
}
footer a {
	text-decoration: none;
	color: #888;
}
footer a:hover {
	color: #fff;
	text-decoration: underline;
}
#cover {
	background-color: rgba(0, 0, 0, 0.8);
	height: 100vh;
	z-index: 10;
}

.under {
	text-align: center;
	margin-left: 50%;
}
.under img {
	width: 30px;
}

.btn {
  background: #3db1ff;
  background-image: -webkit-linear-gradient(top, #3db1ff, #2980b9);
  background-image: -moz-linear-gradient(top, #3db1ff, #2980b9);
  background-image: -ms-linear-gradient(top, #3db1ff, #2980b9);
  background-image: -o-linear-gradient(top, #3db1ff, #2980b9);
  background-image: linear-gradient(to bottom, #3db1ff, #2980b9);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: 'Josefin Slab', serif;
  border: 0;
  color: #ffffff;
  font-size: 12px;
  padding: 8px 15px 8px 15px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}







.videoT {
	width: 30%;
	margin-left: 60%;
	padding-top: 5cm;

}

.videoT h6 {
	color: white;
	font-weight: 100;
	font-size: 150%;
	-webkit-font-smoothing: antialiased;
}
.videoT p {
	color: white;
	font-weight: 100;
	font-size: 90%;
	margin-top: 1cm;
	line-height: 2.0em;
	-webkit-font-smoothing: antialiased;
}
.emotional_image1 {
	height: 100vh;
	background-image: url(../img/man-21136_1920.jpg);
	background-size: cover;
	background-color: #fff;

}
.emotional_image1 img {
	position: absolute;
	top: auto;
	right: 0;
}

.emotional_image_text {
	height: 100vh;
	padding-top: 15px;
	text-align: center;
	color: #666;
	-webkit-font-smoothing: antialiased;

}
.emotional_image_text h1 {
	font-size: 60%;

}
.emotional_image2 {
	height: 100vh;
	background-image: url(../img/man-under-waterfall-2150164_1920.jpg);
	background-size: cover;
	background-color: #fff;

}

.emotional_image3 {
	height: 100vh;
	background-image: url(../img/relay-race-655353_1920.jpg);
	background-size: cover;
	background-color: #fff;

}

.emotional_image4 {
	height: 100vh;
	background-image: url(../img/man-21136_1920.jpg);
	background-size: cover;
	background-color: #fff;

}




.elements {
	height: 100vh;

	background-size: cover;
	background-image: url(../img/485cefddc751fcc3ce83d0bc8d72059e.jpg);
}

.elementsT {
	text-align: center;

}
.elementsT h1 {
	color: white;
	font-size: 200%;
	padding-top: 10%;


}
.elementsT p {
	color: white;
	font-size: 100%;
	padding-top: 10%;
	width: 50%;
	margin-left: 25%;
	line-height: 2.0em;

}
.evidence {
	height: 100vh;
	background-size: cover;
	background-image: url(../img/coffee-1044387.jpg);
}
.roast {
	height: 100vh;
	background-size: cover;
	background-image: url(../img/roster1.jpg);

}

.roastT {
	width: 35%;
	margin-left: 60%;
	padding-top: 5cm;
}


.roastT h1 {
	color: white;
	font-weight: 100;
	font-size: 150%;
	-webkit-font-smoothing: antialiased;
}
.roastT p {
	color: white;
	font-weight: 100;
	font-size: 90%;
	margin-top: 0.5cm;
	line-height: 2.0em;
	-webkit-font-smoothing: antialiased;
}

.roastT .detail {
	text-align: center;
	font-size: 120%;
	font-weight: bold;
}
.detail a  {
	text-decoration: none;
	color: #fff;

}
.roaster2 {
	background-image: url(../img/jobs.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;

}
.roaster3 {
	background-image: url(../img/jobs2.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;

}
.roaster4 {
	background-image: url(../img/jobs3.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;

}

.morning {
	height: 100vh;
	background-size: cover;
	clear: both;
	overflow: hidden;
	display: flex;

}

.actorI {
	width: 50%;
	background-image: url(../img/T9.png);
	background-size: cover;

}
.actorT {
	width: 50%;
	text-align: center;
	background-color: white;
}
.actorT h1 {
	font-size: 140%;
	width: 70%;
	margin-left: 15%;
	margin-top: 20%;
}
.actorT p {
	width: 70%;
	margin-left: 15%;
	margin-top: 10%;
	line-height: 2.5em;
}
.copy {
	height: 100vh;
	background-color: black;
	text-align: center;
}

.enCopy {
	color: #fff;
	font-size: 150%;
	font-weight: lighter;
	padding-top: 20%;

}
.jaCopy {
	color: #fff;
	font-size: 150%;
	font-weight: normal;

}
.endCopy {
	color: #bbb;
	font-size: 100%;
	padding-top: 10%;

}

.item1 {
	height: 100vh;
	background-size: cover;
	background-image: url(../img/gijbmkopkonb3_jmb_kona_kopi_2_1.jpg);
	background-position: center;
}

.item2 {
	height: 100vh;
	background-size: cover;
	background-image: url(../img/84606418_o5.jpg);
	background-position: center;

}
#container {
	width: 100%;
	height: 50vh;
	background-color: #000;
}
#container img {
	width: 90%;
	margin-left: 5%;
	height: 50vh;
}
.example_message {
	margin-top: 90vh;
	text-align: center;
	font-weight: 700;
	margin-bottom: 5vh;
}

/*世界地図の表示*/

.container {
	width: 100%;
	margin-bottom: 10vh;
}

.container h1 {
	font-weight: bold;
	font-size: 120%;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 50px;
}

.featured_page {
	text-align: center;

}
.featured_page img {
	width: 35%;
}

.featured_page_icon {
	margin-bottom: 15vh;
}

.featured_page_icon h1 {
	font-weight: 600;
	font-size: 120%;
	padding-top: 5vh;
	padding-bottom: 5vh;

}
.featured_page_icon p {
	font-weight: 500;
	padding-top: 5vh;
	width: 80%;
	margin-left: 10%;
	text-align: center;
}
/* Specific mapael css class are below
 * 'mapael' class is added by plugin
*/

.mapael .map {
		position: relative;
}

/* For all zoom buttons */
.mapael .zoomButton {
		background-color: #fff;
		border: 1px solid #ccc;
		color: #000;
		width: 15px;
		height: 15px;
		line-height: 15px;
		text-align: center;
		border-radius: 3px;
		cursor: pointer;
		position: absolute;
		top: 0;
		font-weight: bold;
		left: 10px;

		-webkit-user-select: none;
		-khtml-user-select : none;
		-moz-user-select: none;
		-o-user-select : none;
		user-select: none;
}

/* Reset Zoom button first */
.mapael .zoomReset {
		top: 10px;
}

/* Then Zoom In button */
.mapael .zoomIn {
		top: 30px;
}

/* Then Zoom Out button */
.mapael .zoomOut {
		top: 50px;
}

.mapael .mapTooltip {
		position: absolute;
		background-color: #474c4b;
		moz-opacity: 0.70;
		opacity: 0.70;
		filter: alpha(opacity=70);
		border-radius: 10px;
		padding: 10px;
		z-index: 1000;
		max-width: 200px;
		display: none;
		color: #fff;
}

/*レーダーチャートの表示をする。*/

#pcCanvas {
	padding-top: 10vh;
	display: none;

}

#mobileCanvas {
	padding-top: 10vh;

}
.pc_chart {
	display: none;
}

.beans_mania_logo {
	margin-top: 30vh;
	text-align: center;
	margin-bottom: 20vh;
}
.beans_mania_text {
	font-size: 400%;
	font-weight: 900;
	font-family: 'Source Sans Pro', sans-serif;
}
.beans_mania_subtext {
	font-size: 100%;
	font-weight: 500;
	padding-top: 0;
	font-family: 'Source Sans Pro', sans-serif;
}
