
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	width:  window-width;

	font-family: -apple-system, 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
a {
	text-decoration: none;
	color: #000;
}
a:hover { text-decoration: none;}

header {
	position: sticky;;
	text-align: center;
	/*border-bottom: 1px #aaa solid;*/
}
header p {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 120%;
}


.top {
	margin: 0;
	height: 100vh;
	width: 100%;
	background-color: #fff;
	text-align: center;

}
.top h1 {
	font-size: 300%;
	text-align: center;
	color: #222;
	font-weight: bold;
	padding-top: 30vh;

}
.top h3 {
	font-size: 150%;
	padding-top: 10vh;
	text-align: center;
}

#global-nav {
	width: 100%;
	border-bottom: 1px #ddd solid;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgba(255, 255, 255, 0.7);
	position: fixed;

}

.fixed {
	position: fixed;
	top: 0;
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.8);
}
footer {
	width: 100%;
	position: fixed;
	color: #fff;
	height: 60px;
	display: flex;
	clear: both;
	background-color: rgba(0, 0, 0, 0.8);;
	bottom: 0;
}
footer button {
	position: absolute;
	right: 70px;
	top: 15px;
}

footer p {
	position: relative;
	margin-left: 6%;
	padding-top: 1.5%;

}
footer h1 {
	display: none;
}
footer a {
	text-decoration: none;
	color: #888;
}
footer a:hover {
	color: #fff;
	text-decoration: underline;
}

.team_nonpest {
	text-align: center;
}

.team_nonpest img {
	padding-top: 20vh;
}
.team_nonpest h1 {
	font-size: 300%;
	text-align: center;
	color: #222;
	font-weight: bold;
}

.side_nav {
	position: fixed;
	right: 10px;
}
.side_nav img {
	width: 50px;
	padding-top: 20vh;
}
.under {
	text-align: center;
	margin-left: 50%;
}
.under img {
	width: 30px;
}

.btn {
  background: #3db1ff;
  background-image: -webkit-linear-gradient(top, #3db1ff, #2980b9);
  background-image: -moz-linear-gradient(top, #3db1ff, #2980b9);
  background-image: -ms-linear-gradient(top, #3db1ff, #2980b9);
  background-image: -o-linear-gradient(top, #3db1ff, #2980b9);
  background-image: linear-gradient(to bottom, #3db1ff, #2980b9);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
	font-family: 'Source Sans Pro', sans-serif;
  border: 0;
  color: #ffffff;
  font-size: 12px;
  padding: 8px 15px 8px 15px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}







.videoT {
	width: 30%;
	margin-left: 60%;
	padding-top: 5cm;

}

.videoT h6 {
	color: white;
	font-weight: 100;
	font-size: 150%;
	-webkit-font-smoothing: antialiased;
}
.videoT p {
	color: white;
	font-weight: 100;
	font-size: 90%;
	margin-top: 1cm;
	line-height: 2.0em;
	-webkit-font-smoothing: antialiased;
}
.emotional_image1 {
	height: 100vh;
	background-image: url(../img/man-21136_1920.jpg);
	background-size: cover;
	background-color: #fff;

}
.emotional_image1 img {
	position: absolute;
	top: auto;
	right: 0;
}

.emotional_image_text {
	height: 100vh;
	padding-top: 15px;
	text-align: center;
	color: #666;
	-webkit-font-smoothing: antialiased;

}
.emotional_image_text h1 {
	font-size: 60%;

}
.emotional_image2 {
	height: 100vh;
	background-image: url(../img/man-under-waterfall-2150164_1920.jpg);
	background-size: cover;
	background-color: #fff;

}

.emotional_image3 {
	height: 100vh;
	background-image: url(../img/relay-race-655353_1920.jpg);
	background-size: cover;
	background-color: #fff;

}

.emotional_image4 {
	height: 100vh;
	background-image: url(../img/man-21136_1920.jpg);
	background-size: cover;
	background-color: #fff;

}




.elements {
	height: 100vh;

	background-size: cover;
	background-image: url(../img/485cefddc751fcc3ce83d0bc8d72059e.jpg);
}

.elementsT {
	text-align: center;

}
.elementsT h1 {
	color: white;
	font-size: 200%;
	padding-top: 10%;


}
.elementsT p {
	color: white;
	font-size: 100%;
	padding-top: 10%;
	width: 50%;
	margin-left: 25%;
	line-height: 2.0em;

}
.evidence {
	height: 100vh;
	background-size: cover;
	background-image: url(../img/coffee-1044387.jpg);
}
.roast {
	height: 100vh;
	background-size: cover;
	background-image: url(../img/roster1.jpg);

}

.roastT {
	width: 35%;
	margin-left: 60%;
	padding-top: 5cm;
}


.roastT h1 {
	color: white;
	font-weight: 100;
	font-size: 150%;
	-webkit-font-smoothing: antialiased;
}
.roastT p {
	color: white;
	font-weight: 100;
	font-size: 90%;
	margin-top: 0.5cm;
	line-height: 2.0em;
	-webkit-font-smoothing: antialiased;
}

.how_to_call {
	text-align: center;
	padding-top: 20vh;
}

.how_to_call img {
	width: 15%;
}
.how_to_call h1 {
	text-align: center;
	font-weight: bold;
	font-size: 200%;
}
.how_to_call p {
	padding-top: 5vh;
	font-size: 100%;

}


.how_to_map {
	text-align: center;
	padding-top: 20vh;

}

.how_to_map img {
	width: 15%;
}
.how_to_map em {
	font-weight: bold;
}
.how_to_map h1 {
	text-align: center;
	font-weight: bold;
	font-size: 200%;
}

.how_to_map h2 {
	padding-top: 5vh;
	font-size: 120%;
	width: 50%;
	margin-left: 25%;
}
.how_to_map h3 {
	padding-top: 5vh;
	font-size: 120%;
	width: 50%;
	margin-left: 25%;
}

.how_to_charge {
	text-align: center;
	padding-top: 20vh;

}

.how_to_charge img {
	width: 15%;
}
.how_to_charge h1 {
	text-align: center;
	font-weight: bold;
	font-size: 200%;
}
.how_to_charge p {
	padding-top: 5vh;
	font-size: 100%;
}
.how_to_charge h2 {
	padding-top: 5vh;
	font-size: 120%;
}
.how_to_charge h3 {
	padding-top: 5vh;
	font-size: 120%;
	color: #888
}

.beans_mania_logo {
	margin-top: 30vh;
	text-align: center;
	margin-bottom: 20vh;
}

.beans_mania_logo img {
	width: 60%;
}
